@font-face {
    font-family:"sakura";
    src:url('/fortune/font/sakura_1.ttf');
}
@font-face {
    font-family:"Mamelon";
    src:url('/fortune/font/Mamelon_1.otf');
}

.input {
  padding: 10px;
  border: 2px solid #ccc;
  height: 25pt;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

.input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.warning {
  color: rgb(255, 0, 0);
  font-size: 30px;
  text-align: center;
}

.update-log {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.update-version {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #e74c3c;
}
.update-date {
  font-size: 16px;
  color: #7f8c8d;
  margin-bottom: 15px;
}
.update-content {
  margin-left: 20px;
}
.update-item {
  margin-bottom: 15px;
}
.update-item-title {
  font-weight: bold;
  color: #2980b9;
  display: block;
  margin-bottom: 5px;
}
.update-item-description {
  margin-left: 10px;
  display: block;
}
 
.static-rainbow{
	background: linear-gradient(90deg, blue, red);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;// 以区块内的文字作为裁剪区域向外裁剪，文字的背景即为区块的背景，文字之外的区域都将被裁剪掉
}
.dynamic-rainbow{
	background-image: -webkit-linear-gradient(left, #f83600 0%, #f9d423 25%, #f83600 50%, #f9d423 75%, #f83600 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation:  maskedAnimation 4s infinite linear;
}
@keyframes maskedAnimation {
	0% {
    background-position: 0 0;
	}
	100% {
	    background-position: -100% 0;
	}
}

