@font-face {
    font-family:"sakura";
    src:url('/fortune/font/sakura_1.ttf');
}
@font-face {
    font-family:"Mamelon";
    src:url('/fortune/font/Mamelon_1.otf');
}

.input {
  padding: 10px;
  border: 2px solid #ccc;
  height: 25pt;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

.input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.warning {
  color: rgb(255, 0, 0);
  font-size: 30px;
  text-align: center;
}
.logger_new {
  color: rgb(255, 0, 0);
}
.update-log {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.update-version {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #e74c3c;
}
.update-date {
  font-size: 16px;
  color: #7f8c8d;
  margin-bottom: 15px;
}
.update-content {
  margin-left: 20px;
}
.update-item {
  margin-bottom: 15px;
}
.update-item-title {
  font-weight: bold;
  color: #2980b9;
  display: block;
  margin-bottom: 5px;
}
.update-item-description {
  margin-left: 10px;
  display: block;
}
 
.static-rainbow{
	background: linear-gradient(90deg, blue, red);
	-webkit-text-fill-color: transparent;
// 以区块内的文字作为裁剪区域向外裁剪，文字的背景即为区块的背景，文字之外的区域都将被裁剪掉
	-webkit-background-clip: text;
	background-clip: text;
}
.static-rainbow_qs {background-image: linear-gradient(to right, #56ab2f 0%, #a8e063  51%, #56ab2f  100%)}
.static-rainbow_qs {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}
.static-rainbow_qs:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}
.static-rainbow_sy{
	background: #00FFFF;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    	background-clip: text;
    	text-shadow: 2px 2px 5px rgb(109, 174, 180);
}
.static-rainbow_ssy{
	background: ＃00FF00;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    	background-clip: text;
    	text-shadow: 2px 2px 5px rgb(109, 174, 180);
}
.dynamic-rainbow{
	background-image: -webkit-linear-gradient(left, #f83600 0%, #f9d423 25%, #f83600 50%, #f9d423 75%, #f83600 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation:  maskedAnimation 4s infinite linear;
}
.dynamic-rainbow_zp{
	background-image: -webkit-linear-gradient(left, #50cc7f 0%, #f5d100 25%, #50cc7f 50%, #f5d100 75%, #50cc7f 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%;
    -webkit-animation:  maskedAnimation 4s infinite linear;
    animation:  maskedAnimation 4s infinite linear;
}
.dynamic-rainbow_bw{
	background-image: -webkit-linear-gradient(left, #4776E6 0%, #8E54E9 25%, #4776E6 50%, #8E54E9 75%, #4776E6 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation:  maskedAnimation 4s infinite linear;
}
@keyframes maskedAnimation {
	0% {
    background-position: 0 0;
	}
	100% {
	    background-position: -100% 0;
	}
}
/* From Uiverse.io by Shoh2008 */ 
.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background-image: linear-gradient(to top, #43c3f6 0%, #1089ec 100%);
  border-radius: 4px;
  overflow: hidden;
}

.loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #3DCBF5;
  box-shadow: 32px -34px 0 5px #0990e4;
  animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #72bfef;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0% , 100% {
    bottom: -35px
  }

  25% , 75% {
    bottom: -2px
  }

  20% , 80% {
    bottom: 2px
  }
}
@keyframes rotate {
  0% {
    transform: rotate(-15deg)
  }

  25% , 75% {
    transform: rotate(0deg)
  }
}

  100% {
    transform: rotate(25deg)
  }
}
  
