.input {
  padding: 10px;
  border: 2px solid #ccc;
  height: 25pt;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

.input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.warning {
  color: rgb(255, 0, 0);
  font-size: 30px;
  text-align: center;
}

.update-log {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.update-version {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #e74c3c;
}
.update-date {
  font-size: 16px;
  color: #7f8c8d;
  margin-bottom: 15px;
}
.update-content {
  margin-left: 20px;
}
.update-item {
  margin-bottom: 15px;
}
.update-item-title {
  font-weight: bold;
  color: #2980b9;
  display: block;
  margin-bottom: 5px;
}
.update-item-description {
  margin-left: 10px;
  display: block;
}